.detail-box {
  display: flex;
  align-content: space-between;
  align-content: center;
  flex-wrap: wrap; }

.content {
  width: 60%; }

.fraction:nth-of-type(-n + 1), .fraction:nth-last-of-type(-n+1) {
  width: 20%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  /*border: 1px solid black;*/
  box-sizing: border-box; }

.fraction img {
  width: 90%;
  height: 90%; }

.author-box {
  margin-left: 5px; }
