/*BASE*/
$red: #cd040b;
$darkred_alt: rgba(195, 22, 30, 0.95);
$blk: #000;
$wht: #fff;
$hover_red: #A80309;


/*Sucess Green*/
$green_success: #82CEAC;

/*GREYS*/
$grey_entry:		rgb(75, 101, 128);
$grey_dark:		#333; /*DEFAULT TXT COLOR*/
$grey:			#4b4b4b;
$grey_medium:	#666;
$grey_light:		#959595;
$grey_lighter:	#F5F5F5;
$offwhite:		#eee;
$grayblue:		#edf3f6;

/*SECONDARIES*/
$teal_dark:		#1f513b;
$teal_medium:	#43ad7d;
$teal:			#82ceac;
$sky:			#ABE0F9;
$gold:			#f8d362;
$salmon:			#f9b295;

/*FADED SECONDARIES*/
$green:			#e9f8e9;
$blue:			#e8f6fe;
$yellow:			#feffe4;
$orange:			#fef0e8;

/*LINKS*/
$link:			#0067C8;
$link_active:	#00488B;

/*SHADOW*/
$shadow_right:	1px 1px 9px -5px rgba(0,0,0,.75);
$shadow_left:	0px 0px 15px -4px #666;
/*table*/
$th_bg:             rgb(75, 75, 75);
$even_row_bg:       #eee;
$selected_row_bg:   #c9dde1;
$pagination_color:  rgb(51, 51, 51);
$header_bg:         #eee;
$header_color:      #000;

$primary-red: #CD040B;
$primary-black: #000000;
$primary-white: #FFFFFF;

$primary-teal: #82CEAC;
$primary-sky: #ABE0F9;
$primary-gold: #FBD362;
$primary-salmon: #F9B295;

$bg-gray1: #E4E5E3;
$bg-gray2: #F6F6F6;
$bg-white: #FFFFFF;

$function-gray1: #333333;
$function-gray2: #4B4B4B;
$function-gray3: #959595;
$function-gray4: #CCCCCC;

$green: #E9F8E9;
$blue: #E8F6FE;
$yellow: #FEFFE4;
$orange: #FEF0E8;

$btn-hover: #A80309;
$btn-press: #990308;
$txt-active: #0066BB;
$txt-hover: #00478E;

$place-holder: #aaa;
$vz-border: #d4d4d4;


/*modal colors*/

$warning: #fbe8a6;
$error: #faccd0;
$info: #bed8f1;
$success: #d5ead3;