.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.app-header {
    height: 65px;
    box-shadow: 0 1px 4px rgba(68,68,68,0.2);
    background-color: white;
}

.app-search-bar {
    position: absolute;
    right: 280px;
    left: 280px;
    background-color: white;
}

.app-search-bar-wrapper {
    margin: 10px auto;
    background-color: white;
}
.app-title {
    color: darkgrey;
    margin: 0;
}